@charset "utf-8";
/* CSS Document */

html {
	background-color: #0CF;
	font: normal 100%/1.5 sans-serif; 
}

body {
	margin: 0 auto;
	padding: 0;
	width: 45.125em;
}

h1 {
	color: #fff;
	text-align:center;
}

#page .mytabs ul {
	margin: 0;
	padding: 0;
	list-style-type:none;
}

#page .mytabs li {
	display: inline;
	border-radius: 4px 4px 0 0;
	background-color: #0CF;
	border: thin solid #000;
	padding: 0.5em 1em;
}

#page .mytabs a,
#page .mytabs a:link,
#page .mytabs a:visited {
	display: inline-block;
	color: #fff;
	text-decoration: none;
}

#page .mytabs ul li a:hover,
#page .mytabs ul li a:active,
#page .mytabs ul li a:focus{
	color: #fff;
	background-color: #333;	
}

#page .mytabs .current,
#page .mytabs .current:link,
#page .mytabs .current:visited{
	background-color: #006;
	border: none;

}

#page .mytabs-container {
	background-color: #006;
	color: #fff;
	position: relative;
	bottom: 15px;
	left: 40px;
	margin:0;
	padding: 1em 0.9125em 8em 1em;
	width: 36.6em;
}

.photo {
	width: 150px;
	height: 200px;
	float: left;
	padding: 0 10px 10px 10px;
}
